<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Contact</title>
</head>
<body>
	<div>
		<ul>
			<li class="alert alert-danger" role="alert"
				th:each="error : ${#fields.errors('contact.*')}" th:text="${error}" />
		</ul>
	</div>
	<form th:action="@{/saveMsg}" method="post" class="signin-form">
		<div class="input-grids">
			<div class="row">
				<div class="col-sm-6">
					<input type="text" name="name" id="name" placeholder="Your Name"
						class="contact-input" />
				</div>
				<div class="col-sm-6">
					<input type="text" name="mobileNum" id="mobileNum"
						placeholder="Your Mobile Number" class="contact-input" />
				</div>
			</div>
			<input type="text" name="email" id="email" placeholder="Your Email"
				class="contact-input" /> <input type="text" name="subject"
				id="subject" placeholder="Subject" class="contact-input" />
		</div>
		<div class="form-input">
			<textarea name="message" id="message"
				placeholder="Type your message here"></textarea>
		</div>
		<div class="text-start">
			<button class="btn btn-style btn-style-3">Send Message</button>
		</div>
	</form>
</body>
</html>

