<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Manage</title>
</head>
<body>
    <h3>This is the manage page</h3>

    <div sec:authorize="hasRole('USER')">Text visible to user.</div>
    <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
    <div sec:authorize="isAuthenticated()">Text visible only to authenticated users.</div>

    Username:
    <div sec:authentication="account.keycloakSecurityContext.token.preferredUsername"></div>
    First name:
    <div sec:authentication="account.keycloakSecurityContext.token.givenName"></div>
    Last name:
    <div sec:authentication="account.keycloakSecurityContext.token.familyName"></div>
    Email:
    <div sec:authentication="account.keycloakSecurityContext.token.email"></div>
    Authorities:
    <div sec:authentication="account.roles"></div>

    <a th:href="@{/logout}">Logout</a>
</body>
</html>